node_modules/
.env
.vercel
build/
dist/
.next/
*.log
.DS_Store
.agent/
.gemini/

# Multimedia (Large files)
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.flv
*.webm


# Ignorar arquivos de saída de texto que podem ficar gigantes
checklist_output.txt
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*